.layout {
  display: grid;
  column-gap: 2rem;
  row-gap: 4rem;
  grid-template-columns: auto auto auto;
}

.main {
  grid-column: span 2;
}

.trending {
  grid-column: span 3;
}

@media only screen and (max-width: 700px) {
  .main {
    grid-column: span 3;
  }
  .newest {
    grid-column: span 3;
  }
  .trending {
    grid-column: span 3;
  }
}
