.navigation {
  width: 100%;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop {
  min-width: 26rem;
  display: flex;
  justify-content: space-evenly;
  color: var(--dark-grayish-blue);
  font-weight: var(--light-bold);
  font-size: 0.95rem;
}

.desktop *:hover {
  color: var(--soft-red);
  transition: all 0.5s;
}

.mobile_hamburger {
  border: none;
  background-color: transparent;
  display: none;
}

.mobile_background {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 45%);
}

.mobile {
  position: fixed;
  top: 0;
  right: 0;
  width: 70vw;
  width: 70dvw;
  height: 100vh;
  height: 100dvh;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 2rem;
  gap: 5rem;
  background-color: var(--off-white);
}

.mobile_links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
  font-weight: var(--bold);
}

@media only screen and (max-width: 600px) {
  .desktop {
    display: none;
  }

  .mobile_hamburger {
    display: block;
  }

  .navigation {
    padding: 1rem;
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--off-white);
  }
}
