.trending_news_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.article {
  flex: 1;
  display: flex;
  gap: 0.9rem;
}

.image {
  height: auto;
  max-width: 6rem;
}

.article > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article > div > p:nth-child(1) {
  font-size: 1.9rem;
  font-weight: var(--bold);
  color: var(--grayish-blue);
}

.article > div > p:nth-child(2) {
  font-size: 1rem;
  font-weight: var(--super-bold);
  transition: all 0.5s;
}

.article > div > p:nth-child(2):hover {
  color: var(--soft-red);
}

.article > div > p:nth-child(3) {
  font-weight: var(--normal);
  color: var(--dark-grayish-blue);
  font-size: 0.9rem;
  line-height: 1.3rem;
}

@media only screen and (max-width: 700px) {
  .trending_news_box {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
}
